/**********/
/* Footer */
/**********/
.mdl-mini-footer__link-list {
  flex-wrap: wrap;
  justify-content: center;
}

// Ensure a good touch target on mobile devices
// .mdl-mini-footer__social-btn {
//   min-width: 48px;
//   min-height: 48px;
//   margin: 0 1vw;
// }

.svg-icon {
  width: 48px;
  height: 48px;
  padding: 0.2em;
  fill: white;
}

@media screen and (max-width: 322px) {
  .svg-icon {
    width: 36px;
    height: 36px;
  }
}
