/**********************/
/* Header - Title Row */
/**********************/
.site-header__title-row {
  // Viewport width - .picture-me height - .picture-me margins - .page-title margins
  min-height: calc(100vw - 36vw - 0.7em - 1em);
  width: 100%;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (min-width: map-get($breakpoints, sml)) {
    flex-direction: row-reverse;
    min-height: 0;
    height: 90px;

    & div {
      margin: 0 .5em;
    }
  }

  @media (min-width: map-get($breakpoints, mid)) {
    & div {
      margin: 0 2em;
    }
  }
}

.is-compact .site-header__title-row {
  height: 56px;
}

.title-text {
  @media (min-width: map-get($breakpoints, mid)) {
    display: flex;
  }
}

.page-title {
  margin: 0 0.5em;
  @media (min-width: map-get($breakpoints, mid)) {
    font-size: 1.5rem;
    margin: 0 1.5em;
  }
}

.page-subtitle {
  margin: 0;
  @media (min-width: map-get($breakpoints, mid)) {
    font-size: 1.2rem;
  }
}

.is-compact .site-header__title-row {
  flex-direction: row;
  // Clear min-height when collapsed
  min-height: 0;
}

.picture-me {
  background: url(../img/me-500.jpg) 50% no-repeat;
  background-size: cover;
  height: 30vw;
  width: 30vw;
  margin-bottom: 0.7em;
  border-radius: 50%;
  transition: width .2s, height .1s;

  @media (min-width: map-get($breakpoints, sml)) {
    height: 70px;
    width: 70px;
  }
}

.is-compact .picture-me {
  height: 10.8vw;
  width: 10.8vw;
  margin: 0 1em;
  // Move image to right when compact
  order: 2;

  @media (min-width: map-get($breakpoints, sml)) {
    height: 43px;
    width: 43px;
  }
}

.is-compact .page-subtitle {
  display: none;

  @media (min-width: map-get($breakpoints, sml)) {
    display: initial;
  }
}

/*********************/
/* Header - Link Row */
/*********************/
.site-header__link-row {
  padding: 0;
  height: 1.5em;
}

// Prevent from showing when collapsed on very narrow devices
.is-compact .site-header__link-row {
  margin-top: 1em;
}

.site-header__link-row .mdl-navigation {
  width: 100%;
  justify-content: space-around;
  max-width: 350px;
  margin: 0 auto;
}

/*************************/
/* Header - Drawer Links */
/*************************/
.navigation__nested-links {
  // Hide project links in fixed header
  display: none;
  @include typo-body-2(true);
  & a {
    // Due to (wreckless?) specificity in MDL and no built in nested
    // navigation, I am forced to use !important for the time being
    padding: 0.6em 2.4em !important;
  }
  &:first-child {
    padding-top: 0 !important;
  }
}

.is-visible .navigation__nested-links {
  // Show project links in drawer
  display: initial;
}
