<footer class="mdl-mini-footer">
  <section class="mdl-mini-footer__left-section">
    <span class="mdl-logo">Find me on Social Media</span>
    <div class=mdl-mini-footer__link-list>
    <!-- TODO: Change to links add ARIA role=button -->
    <ul class="mdl-mini-footer__link-list">
      <li><button class="mdl-mini-footer__social-btn github-btn"></button></li>
      <li><button class="mdl-mini-footer__social-btn gplus-btn"></button></li>
      <li><button class="mdl-mini-footer__social-btn twitter-btn"></button></li>
      <li><button class="mdl-mini-footer__social-btn linkedin-btn"></button></li>
    </ul>
    </div>
  </section>
  <section class="mdl-mini-footer__right-section">
    <span class="mdl-logo">Find me in the "real" world</span>
      <ul class="mdl-mega-footer__link-list">
        <li><a class="footer__contact" href="TODO">267-603-2621</a></li>
        <li><a class="footer__contact" href="TODO">markweig@gmail.com</a></li>
      </ul>
  </section>
</footer>
