<header class="mdl-layout__header mdl-layout__header--waterfall site-header">
  <!-- Top row, always visible -->
  <section class="mdl-layout__header-row site-header__title-row">
    <!-- Title -->
    <div class="picture-me"></div>
    <span class="mdl-layout__title">Mark Weigel</span>
  </section>
  <!-- Bottom row, not visible on scroll -->
  <section class="mdl-layout__header-row site-header__link-row">
    {{> nav-links}}
  </section>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Mark Weigel</span>
  {{> nav-links}}
</div>

