

<!-- <div class="demo-layout-waterfall mdl-layout mdl-js-layout"> -->
  <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row site-header__title-row">
      <!-- Title -->
      <div class="picture-me"></div>
      <span class="mdl-layout__title">
        Mark Weigel
      </span>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row site-header__link-row">
      <!-- <div class="mdl-layout-spacer"></div> -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#portfolio">Portfolio</a>
        <a class="mdl-navigation__link" href="#about">About Me</a>
        <a class="mdl-navigation__link" href="#contact">Contact</a>
        <a class="mdl-navigation__link" href="#footer">Footer</a>
      </nav>

    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Mark Weigel</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#portfolio">Portfolio</a>
      <a class="mdl-navigation__link" href="#about">About Me</a>
      <a class="mdl-navigation__link" href="#contact">Contact</a>
      <a class="mdl-navigation__link" href="#footer">Footer</a>
    </nav>
  </div>

