<header class="mdl-layout__header mdl-layout__header--waterfall site-header">
  <!-- Top row, always visible -->
  <section class="mdl-layout__header-row site-header__title-row" aria-hidden="false">
    <!-- Title -->
    <div class="picture-me"></div>

    <div class="title-text">
      <h1 class="page-title mdl-typography--title">Mark Weigel</h1>
      <h2 class="page-subtitle mdl-typography--subhead">Front End Developer</h2>
    </div>
  </section>
  <!-- Bottom row, not visible on scroll -->

  <section class="mdl-layout__header-row site-header__link-row">
    {{> nav-links}}
  </section>
</header>

<div class="mdl-layout__drawer">
  {{> nav-links}}
</div>
