<main class="mdl-layout">
  <section class="mdl-grid project-detail">
    <div class="card mdl-card mdl-cell--8-col">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">{{title}}</h1>
      </div>

      <h3 class="mdl-cell mdl-cell--12-col mdl-cell--2-offset-desktop mdl-typography--headline">Initial Step</h3>
      <div class="mdl-cell mdl-cell--4-col-tablet">
        <p class="mdl-card__supporting-text">
          {{intro-desc}}
        </p>
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet desc-img">
        <img src="{{intro-pic}}-250.jpg" srcset="{{intro-pic}}-250.jpg 250w, {{intro-pic}}-500.jpg 500w, {{intro-pic}}-750.jpg 750w, {{intro-pic}}-1000.jpg 1000w" alt="{{intro-pic-alt}}">
      </div>

      <h3 class="mdl-cell mdl-cell--12-col mdl-cell--2-offset-desktop mdl-typography--headline">Next Step</h3>
      <div class="mdl-cell mdl-cell--4-col-tablet desc-img">
        <img src="{{main-pic}}-1000.jpg" srcset="{{main-pic}}-250.jpg 250w, {{main-pic}}-500.jpg 500w, {{main-pic}}-750.jpg 750w, {{main-pic}}-1000.jpg 1000w" alt="{{main-pic-alt}}">
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet">
        <p class="mdl-card__supporting-text">
          {{main-desc}}
        </p>
      </div>

      <h3 class="mdl-cell mdl-cell--12-col mdl-cell--2-offset-desktop mdl-typography--headline">Wrap Up</h3>
      <div class="mdl-cell mdl-cell--4-col-tablet desc-img">
        <img src="{{outro-pic}}-1000.jpg" srcset="{{outro-pic}}-250.jpg 250w, {{outro-pic}}-500.jpg 500w, {{outro-pic}}-750.jpg 750w, {{outro-pic}}-1000.jpg 1000w" alt="{{outro-pic-alt}}">
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet">
        <p class="mdl-card__supporting-text">
          {{outro-desc}}
        </p>
      </div>
    </div>
  </section>
</main>
