<main class="mdl-layout">
  <section class="mdl-grid project-detail">
    <div class="card mdl-card mdl-cell--8-col">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">{{title}}</h1>
      </div>

      <h3 class="mdl-cell mdl-cell--12-col mdl-cell--2-offset-desktop mdl-typography--headline">Initial Step</h3>
      <div class="mdl-cell mdl-cell--4-col-tablet">
        <p class="mdl-card__supporting-text">
          {{intro-desc}}
        </p>
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet desc-img">
        <img src="{{intro-pic}}.png" alt="picture">
      </div>

      <h3 class="mdl-cell mdl-cell--12-col mdl-cell--2-offset-desktop mdl-typography--headline">Next Step</h3>
      <div class="mdl-cell mdl-cell--4-col-tablet desc-img">
        <img src="{{main-pic}}.png" alt="picture">
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet">
        <p class="mdl-card__supporting-text">
          {{main-desc}}
        </p>
      </div>

      <h3 class="mdl-cell mdl-cell--12-col mdl-cell--2-offset-desktop mdl-typography--headline">Wrap Up</h3>
      <div class="mdl-cell mdl-cell--4-col-tablet desc-img">
        <img src="{{outro-pic}}.png" alt="picture">
      </div>
      <div class="mdl-cell mdl-cell--4-col-tablet">
        <p class="mdl-card__supporting-text">
          {{outro-desc}}
        </p>
      </div>
    </div>
  </section>
</main>
