{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Weigel's Portfolio Site</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <!-- The main layout out container for MDL -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{> header}}

      {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
      {{> body}}
    </div>

    {{> contact-modal}}
    <script src="{{root}}assets/js/app.js" async></script>
    <!-- Use Web Font Loader to prevent render blocking -->
    <script async>
      WebFontConfig = {
        google: {
          families: ['Roboto:300,400,500', 'Material Icons']
        }
      };

      (function(d) {
        var wf = d.createElement('script');
        var s = d.scripts[0];

        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </body>
</html>
